/* For Mobile Phones */


.special{
    justify-content: center;
    font-size: 80px;
    text-align: center;
    font-family: sans-serif;
    font-weight:800;
    color: rosybrown;
}
.button{
    justify-content: space-between;
    color: rosybrown;
    padding: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items: baseline;
    display: flex;
}

.info{
    padding-left: 10rem;
    padding-right: 10rem;
}

ul{
    padding-left: 10rem;
    shape-margin: 2rem;
}
body { 
    letter-spacing: .5px;
    line-height: 1.5;
    padding: 10%;
    font-family:sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: aliceblue;
}
h2{
    color:rosybrown;
    font font-weight: 300;
    font-family: sans-serif;
}
h4{
    padding-left: 5rem;
}
h3{
    font-weight:600
    color:rosybrown;
    
}
p1{
    padding: 3rem;
    font-style: italic;
    color:rosybrown;
}
p{  color:rosybrown;
    font-weight: 200;
    font-style: italic;
    padding-left: 5rem;
}
img {
    max-width: 100%;
    display: block;
    margin: 0 auto 0 auto;
}
ul {
    width: auto;
    margin-top: inherit;
    margin-bottom: 8rem;
}
.social media{
    align-content: center;
    padding: inherit;
    color:rosybrown;
    font-size: 80px;
    position: absolute;
    
    
}
